.heading
  = render 'groups/heading'

.contents
  .contents__group
    .contents__group__info
      .contents__group__info__name
        = @group.name
      .contents__group__info__member
        Member:
        -@group.users.each do |user|
          = user.name
    .contents__group__box
      = link_to edit_group_path(@group) do
        .contents__group__box__edit
          %p.class Edit

  .contents__chat
    = render @messages

  .contents__footer
    = form_for [@group, @message] do |f|
      .contents__footer__message
        = f.text_field :content, class: 'contents__footer__message__text', placeholder: ' type a message'
        = f.label :image, class: 'contents__footer__message__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'contents__footer__send'
